@using Domain.Core.HomeService.DTOS;
@model BidDTO;

<form method="post" asp-controller="Expert" asp-action="CreateBid" class="border p-3 rounded shadow-sm w-50 mx-auto">
    <h2 class="text-center text-info mb-3">ارسال پیشنهاد</h2>

    <div class="form-group mb-2">
        <label asp-for="Price" class="form-label fw-bold">قیمت</label>
        <input asp-for="Price" class="form-control form-control-sm" />
        <span asp-validation-for="Price" class="text-danger small"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Description" class="form-label fw-bold">توضیحات</label>
        <textarea asp-for="Description" class="form-control form-control-sm" rows="2"></textarea>
        <span asp-validation-for="Description" class="text-danger small"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DeadLine" class="form-label fw-bold">زمان پایان</label>
        <input type="datetime-local" asp-for="DeadLine" class="form-control form-control-sm" />
        <span asp-validation-for="DeadLine" class="text-danger small"></span>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" asp-route-requestId="@ViewBag.RequestId" class="btn btn-primary btn-sm">ارسال</button>
        <a asp-controller="Expert" asp-action="Index" class="btn btn-secondary btn-sm">بازگشت</a>
    </div>
</form>
