@using Domain.Core.HomeService.DTOS;
@model List<CategoryDTO>;

<h3>لیست سرویس ها</h3>
<div class="col-6 text-start">
    <a asp-controller="Admin" asp-action="CreateCategory" class="btn btn-success">اضافه کردن دسته بندی</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام </th>
            <th>اعمالات</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>
                    <a asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@category.Id">
                        حذف دسته بندی
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>