@using Domain.Core.HomeService.DTOS;
@model List<CategoryDTO>;

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-12 text-center">
            <h1 class="text-primary mt-3">لیست دسته‌بندی‌ها</h1>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-lg-12 text-start">
            <a asp-controller="Admin" asp-action="CreateCategory" class="btn btn-success">
                اضافه کردن دسته‌بندی
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">شناسه</th>
                        <th scope="col">نام</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Title</td>
                            <td>
                                <a asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@category.Id" class="btn btn-danger btn-sm">
                                    حذف دسته‌بندی
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
