@using Domain.Core.HomeService.DTOS;
@model CategoryDTO;

<form method="post" asp-controller="Admin" asp-action="CreateCatgeory">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">اضافه کردن دسته‌بندی</h2>
        </div>

        <div class="row">
            <div class="col-8">

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Title">نام موضوع</label>
                    </div>
                    <div class="col-8">
                        <input type="text" asp-for="Title" class="form-control" placeholder="موضوع" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">ثبت</button>
                        <a asp-controller="Admin" asp-action="Index" class="btn btn-success">بازگشت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
