@using Domain.Core.HomeService.DTOS;
@model RequestDTO;

<form method="post" asp-controller="Admin" asp-action="EditRequest">

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">ویرایش سفارش</h2>
        </div>


        <div class="row">
            <div class="col-8">
                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Id" class="form-control" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="StatusId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="StatusId" class="select-chosen" asp-items="ViewBag.Statuses">
                            <option disabled selected>انتخاب وضعیت</option>
                        </select>
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="d-inline-flex justify-content-around">
                        <button type="submit" class="btn btn-primary mx-1">ویرایش</button>
                        <div>
                            <a asp-controller="Admin" asp-action="Index" class="btn btn-success">بازگشت</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>