@using Domain.Core.User.DTOs;
@model AdminDTO;
<h3>
    خوش آمدید
    @Model.FullName
</h3>

@if (Model.FileLocation == null || Model.AboutMe == null || Model.Address == null)
{
    <a asp-controller="Account" asp-action="UpdateProfileCustomer" class="btn btn-primary">
        پروفایلتون رو آپدیت کنید
    </a>
}
else
{

    <p>
        درباره من:
        @Model.AboutMe
    </p>
    <p>
        آدرس:
        @Model.Address
    </p>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="post-card-image">
                <img src="@Model.FileLocation" width="300px" alt="">
            </div>
        </div>
    </div>
}

<a asp-controller="Admin" asp-action="BidList" class="btn btn-primary"> لیست پیشنهادات </a>
<a asp-controller="Admin" asp-action="RequestList" class="btn btn-primary"> لیست درخواست‌ها </a>
<a asp-controller="Admin" asp-action="CategoryList" class="btn btn-primary">لیست دسته بندی‌ها</a>
<a asp-controller="Admin" asp-action="ServiceList" class="btn btn-primary"> لیست سرویس‌ها</a>
<a asp-controller="Admin" asp-action="CommentList" class="btn btn-primary">لیست کامنت‌عا  ‌</a>
