@using Domain.Core.HomeService.DTOS;
@model List<RequestDTO>

<h3>لیست پشنهادات درخواست</h3>
<table class="table table-striped table-light">
    <thead>
        <tr>
            <th>شماره سفارش</th>
            <th>نام متخصص</th>
            <th>قیمت پیشنهادی</th>
            <th>شناسه متخصص</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var request in Model)
        {
            @if (request.StatusId == 1)
            {
                @foreach (var item in request.Bids)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Expert.FullName</td>
                        <td>@item.Price</td>
                        <td>@item.ExpertId</td>
                    </tr>
                }
            }

        }
    </tbody>
</table>