@{
    ViewData["Title"] = "Home Page";
}

<h5>
    Monkey Wrench
</h5>
<p>
    Monkey Wrench یا 
    آچار یه سایت ارائه خدمات هست شما میتونید در دسته‌بندی که مشکل دارید درخواست و بدید و متخصصان میتونن به شما پیشنهاد بدن که تا کی و با چه مبلغی میتونن کار رو براتون انجام بدن
</p>