@using Domain.Core.HomeService.DTOS;
@model ServiceDTO;


<img src="~/Images/WallpaperDog-10970322.png" sizes="200px" />
<h5>
    @Model.Title
</h5>
<p>
    @Model.Description
</p>
@if (User.IsInRole("Customer"))
{
    <a asp-controller="Customer" asp-action="CreateRequest" asp-route-serviceId="@Model.Id">
        درخواست بدهید
    </a>
}
else
{
    <a asp-controller="Account" asp-action="Login">
        برای دادن درخواست وارد شوید
    </a>
}